body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
}

header {
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 30px;
}

nav {
    background-color: #ff9933;
    padding: 10px;
    text-align: center;
}

nav a {
    color: black;
    margin: 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

section {
    padding: 30px;
    max-width: 900px;
    margin: auto;
}

h2 {
    color: #003366;
}

footer {
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 15px;
}
